* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#div1 {
    /* filter:Alpha(opacity=10);
    opacity: 0.1;
    -moz-opacity:0.5;
    不适合加在父元素
    */
    margin: 0 auto;
    background-image: url(Q:/learngit/.vscode/WEb1/images/pho_01.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    align-items: center;
    /*
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    图片融合显示，正片叠底mode
    */
    color: white;
}

.bactran {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 700px;
    position: relative;
}

h1 {
    font-size: 300%;
    text-align: center;
}

.h11 {
    margin: 0 auto;
    padding: 150px 0 60px 0;
    /*  transform: translateY(30%);
      line-height: 300%;
      */
    position: relative;
}

.p1 {
    font-size: 100%;
    color: rgba(225, 225, 225, 0.7);
    width: 40%;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 20px 0;
    position: relative;
}

#div2 {
    border: 1px solid rgba(255, 255, 255, 0.705);
    width: 50%;
    text-align: center;
    margin: 50px auto;
    height: 200px;
    line-height: 30px;
    position: relative;
}

h2 {
    font-size: 120%;
    text-align: center;
    margin: 30px auto;
}

.inp1 {
    border: 1px solid rgba(255, 255, 255, 0.705);
    background: none;
    height: 18px;
    color: white;
    padding: 2px 2px 2px 5px;
}

.inp2 {
    background-color: white;
    border: none;
    height: 22px;
    padding: 2px 5px 2px 5px;
}

/*              PART 2                 */

#div3 {
    top: 700px;
    position: absolute;
    margin: 0 auto;
    color: #000;
    width: 100%;
}

.div4 {
    margin: 0 0 20px 18%;
    float: left;
    width: 23%;
}

.div4 span {
    display: inline-block;
}

.div4 img {
    margin: 0 10px 0 0;
    max-width: 30px;
    max-height: 50px;
}

/*            PART 3           */

#div5 {
    height: 750px;
    width: 100%;
    top: 1200px;
    left: 0;
    right: 0;
    position: absolute;
    background-image: url(Q:/learngit/.vscode/WEb1/images/pho_14.png);
    background-repeat: none;
    background-size: 100%;
    color: white;
}

#div5 h1 {
    width: 30%;
    margin: 8% 0 0 13%;
    text-align: left;
}

#div5 p {
    width: 30%;
    margin: 3% 0 0 13%;
    text-align: left;
}

#div5 span {
    height: 30px;
    margin: 3% 0 0 13%;
}

.inp3 {
    height: 40px;
    width: 15%;
    margin: 40px 0 0 0;
    background-color: white;
    border: 1px solid white;
}

.inp4 {
    height: 40px;
    width: 15%;
    margin: 0 0 0 20px;
    border: 1px solid white;
    background: none;
    color: white;
}

/*            PART  4            */

#div6 {
    position: absolute;
    top: 1950px;
    left: 0;
    right: 0;
}

.div4_1 {
    margin: 80px 18% 80px 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div4_1 span {
    margin: 0 0 0 5%;
    width: 30%;
    text-align: left;
}

.div4_1 span h2 {
    font-size: 120%;
    font-weight: bold;
    text-align: left;
}

.div4_2 {
    margin: 80px 18% 80px 18%;
}

.div4_2 span {
    float: left;
    width: 30%;
    margin: 0 5% 0 0;
}

.div4_2 span h2 {
    font-size: 120%;
    font-weight: bold;
    text-align: left;
}
/*            footer                */

footer {
    left: 0;
    right: 0;
    top: 5000px;
    bottom: 0;
    position: absolute;
    height: 300px;
    width: 100%;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: row;
}

footer span {
    /*flex:1; 实现四等分*/
    margin: 30px 0 0 13%;
}

footer span img {
    margin: 0 0 0 -15px;
}