@charset "utf-8";
/* CSS Document */

body{
	background:url(%E9%BB%84%E5%B0%91%E5%A4%A9.png);
	background-repeat:no-repeat;
	background-position:right top;
	background-size:150px 150px;
	font-family:Verdana, Geneva, sans-serif;}

h1{
	font-weight:bold;
	font-size:36px;
	}
	
h2{
	line-height:1.2;
	}
	
p span{
	text-indent:20px;
	padding-left:0px;}	
	
a{
	text-decoration:none;
	color:#0CF;
	}
	
#li{
	float:left;
	width:5px;
	height:25px;
	background-color:#000;
	}
	/*线条*/

#zuo{
	width:33%;
	float:left;
	}
	
#you{
	float:right;
	}
footer{
	color:#0CF;
	text-align:center;
	text-shadow:1px -1px 0px #0099FF;}