/*———— left ————*/

.left {
    width: 70px;
    height: 100%;
    overflow: hidden;
    /*自适应浏览器高度*/
    background-color: black;
    padding-bottom: 100%;
    margin-bottom: -100%;
    top: 0;
    left: 0;
    position: absolute;
}

.left span {
    position: relative;
    top: 20px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    margin: 10px auto;
}

#left4 {
    border: 1px solid gray;
    background: none;
    color: gray;
    overflow: hidden;
    display: flex;
}

#left4 p {
    margin: auto;
    text-align: center;
}

.left_foo {
    display: inline-flex;
    bottom: 20px;
    position: fixed;
}

.left_foo span {
    width: 20px;
    height: 20px;
    background-color: gray;
    margin-left: 10px;
}

/* ——        middle         —— */

.middle {
    width: 200px;
    height: 100%;
    overflow: hidden;
    background-color: grey;
    position: absolute;
    top: 0;
    left: 70px;
    color: aliceblue;
}

.middle1 {
    top: 30px;
    left: 10px;
    position: relative;
    width: 180px;
    overflow: hidden;
    border-bottom: 1px solid rgb(192, 188, 188) ;
    
}

.middle1_1 {
    color: rgb(192, 188, 188);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
}

.middle1_1 p {
    width: 165px;
}

.middle_img1 {
    width: 15px;
    height: 15px;
    background-color: rgb(192, 188, 188);
}

#comment_810 {
    border-radius: 30%;
    background-color: skyblue;
    width: auto;
    color: white;
}

.middle2 {
    top: 45px;
    left: 10px;
    position: relative;
    width: 180px;
    overflow: hidden;
    border-bottom: 1px solid rgb(192, 188, 188) ;
    
}
.middle2_2{
    display: flex;
    margin: 10px 0 20px 0 ;
    align-content: center;
}

.middle2_2 p{
    color: white;
    margin:0 0 0 10px;
}
.middle2_img1 {
   
    width: 15px;
    height: 15px;
    background-color: rgb(192, 188, 188);
}


.middle_foo {
    
    bottom: 20px;
    margin: 0 0 0 10px;
    position: fixed;
    width: 180px;
}


.middle_foo1{
    display: flex;
    justify-content: space-between;
    
}

.middle_line1{
    float: left;
    height: 2px;
    width: 92px;
    background-color: rgb(27, 216, 216);
    
}

.middle_line2{
    float: right;
    height: 2px;
    width: 88px;
    background-color: rgb(53, 59, 59);
    
}
/*       right           */
.right {
    position: relative;
    margin-left: 270px;
}
.right_top{
    height: 90px;
    width: 100%;
    display: inline-flex;
    border-bottom: solid 1px gray;
}

.right_top1{
    right: 0;
    position: absolute;/*固定在右边*/
    margin: 10px 0 0 0;
    display: inline-flex;
    align-items: center;
}
.right_top2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: gray;
    
}

.right_top3{
    font-size: 80%;
    width: 100px;
    line-height: 15px;
    margin: 0 0 0 20px;
}
.right_top4{

    height: 10px;
    width: 10px;
    background-color: gray;
    margin: 0 3% 0  3%;
}